.card-container {
    display: flex;
    padding-bottom: 15px;
}

.card-container>* {
    flex: 0 0 auto;
    margin-right: 15px;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.category-section::-webkit-scrollbar {
    display: none;
}

.credit-section::-webkit-scrollbar {
    display: none;
}

.debit-section::-webkit-scrollbar {
    display: none;
}